body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color:#02002e;
    color: #f5f6f7;
    font-family: sans-serif;
    font-size: 16px;
}
form {
    margin: 0 auto;
    padding: 20px;
    width: 70vw;
    max-width: 700px;
    min-width: 290px;
    border:2px solid #ffffff;
    border-radius: 5px;  
}

label,
input {
    display: block;
    margin-bottom: 15px;
}

h1, p {
    margin: 1em auto;
    text-align: center;
}

input {
    width: 43.2vw;
    padding: 8px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

button {
    background-color: #003f5f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.submitform {
    display: block;
    margin: auto;
}

/*   Nav   */

.logo a{
    text-decoration: none;
    color: #ffffff;
}
.logo a:hover{
    text-decoration: none;
}
.menu{
    background-color: rgb(0, 15, 63);
    width :100vw;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 0 15px rgb(0, 0, 0) ;
    z-index: 1000;
}

.logo {
    color: #fff;
    font-size: 35px;
    padding: 0 42px;    
    font-weight: bold;
    margin: 0 10px;

}
.menuItems {
    display: flex;
    list-style: none;
    margin-right: 35px;
}

.menuItems li {
    border: 1px solid #fff;
    border-radius: 3px;
    margin: 0 10px;
}
.menuItems li a {
    text-decoration: none;
    padding: 5px 10px;
    font-size: 15px;
    display: block;
    text-transform: uppercase;
    color: #fff;
}